.mapContainer {
  --city-radius: 2rem;
  --city-sign-color-back: #00c080;
  --city-sign-color-font: #fff;
  --city-pin-size-font: 1.2rem;

  border-radius: 0.5em;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  line-height: 1;
  min-width: 15rem;
  position: relative;
  width: 50%;
  aspect-ratio: 1;
}

.mapBackground {
  border-radius: inherit;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.mapCities {
  width: 100%;
  position: relative;
}

.mapCity {
  border-radius: var(--city-radius);
  left: calc(var(--x) * 1% - var(--city-radius));
  padding: var(--city-radius);
  position: absolute;
  top: calc(var(--y) * 1% - var(--city-radius));
}

.mapCity::after,
.mapCity::before {
  font-size: var(--city-pin-size-font);
}

.mapCity::before {
  content: "•";
  left: calc(-50% + var(--city-radius));
  position: absolute;
  top: calc(-0.65em + var(--city-radius));
  text-align: center;
  text-shadow: 0 1px 1px #000;
  width: 100%;
}

.mapCity::after {
  clip-path: inset(-0.5em 0 0 0);
  content: "📍";
  left: calc(-50% + var(--city-radius));
  position: absolute;
  top: calc(-1em + var(--city-radius));
  text-align: center;
  transition: all 300ms ease-out;
  width: 100%;
  z-index: var(--y);
}

.mapCity__label {
  display: none;
  left: calc(-5em + 50%);
  position: absolute;
  text-align: center;
  width: 10em;
  z-index: 999;
}

.mapCity__sign {
  align-items: center;
  background-color: var(--city-sign-color-back);
  border-radius: 0.2rem;
  border: 0.15em solid var(--city-sign-color-font);
  box-shadow: 0 0 3px #000;
  color: var(--city-sign-color-font);
  column-gap: 0.3em;
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  padding: 0.4em 0.6em 0.4em 0.3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: max-content;
}

.mapCity__sign::before {
  content: attr(data-icon);
}

.mapCity:hover::after {
  clip-path: inset(-0.5em 0 0.5em 0);
  transform: translateY(0.5em);
}

.mapCity:hover .mapCity__label {
  animation: fadein 300ms forwards ease-out;
  display: block;
}

.mapCity:hover .mapCity__sign_animGrow::before {
  animation-name: grow;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.mapCity:hover .mapCity__sign_animSlidein::before {
  animation-name: slidein;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
    top: calc(var(--city-radius));
  }
  100% {
    opacity: 1;
    top: calc(var(--city-radius) + var(--city-pin-size-font) / 2);
  }
}

@keyframes grow {
  0% { transform: translate(0, 200%); }
  10% { transform: translate(5%, 180%); }
  20% { transform: translate(-10%, 160%); }
  30% { transform: translate(15%, 140%); }
  40% { transform: translate(-5%, 120%); }
  50% { transform: translate(10%, 100%); }
  60% { transform: translate(-15%, 80%); }
  70% { transform: translate(5%, 60%); }
  80% { transform: translate(0, 40%); }
  90% { transform: translate(0, 20%); }
  100% { transform: translate(0, 0); }
}

@keyframes slidein {
  0% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}
    