button {
  background-color: transparent;
  border: none;
  padding: 0;

  color: rgb(133, 67, 255);

  transition: transform 0.2s ease, color 0.2s ease;
  
  cursor: pointer;
  
  &:hover {
    
    transform: scale(1.1);
    color: #e7cb28;
  }
 }
 .icon{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  
   display: flex;
   justify-content: center;
   gap: 2vw;
   margin: 2vh;
 
   background-color: transparent;
}
