.LoginBtns {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-family: 'oblique';
  color: #00fff7;
  text-transform: uppercase;
  background: black;
  border: 2px solid #00fff7;
  cursor: pointer;
  overflow: hidden;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px #00fff7, 0 0 40px #00fff7;

  &:hover {
    background: #00fff7;
    color: black;
    box-shadow: 0 0 10px #00fff7, 0 0 60px #00fff7, 0 0 100px #00fff7;
  }

  .glitch {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fff7, transparent);
    animation: slideGlitch 2s linear infinite;
    pointer-events: none;
  }

  .glow {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px #00fff7;
    opacity: 0.4;
    z-index: -1;
  }
}

@keyframes slideGlitch {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 5vh;

  background-color: transparent;

button {
  background-color: transparent;
  border: none;
  padding: 0;

  color: rgb(133, 67, 255);

  transition: transform 0.2s ease, color 0.2s ease;

  cursor: pointer;

  &:hover {

    transform: scale(1.1);
    color: #e7cb28;
  }
 }
}
