@import url(./index.css);

.App {
  width: 100vw;

  margin: 0;
  padding: 0;

  background-image: url(./../img/pixel_2dad.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100vw;
  height: 12%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}